/* opmaak algemeen*/
body {
    background-color: #BDD7EE;
    font-family: Verdana, sans-serif; 
    font-size: 16px; 
    color: #075496;
    padding: 5px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}
#een {
    background-color:#7caad2;
}
#twee {
    background-color:#78b8f0;
}
#drie {
    background-color:rgb(0, 200, 255);
}
#vier {
    background-color:rgb(102, 135, 205);
}
#vijf {
    background-color:rgb(234, 237, 244);
    width: 900px;
    th {
        padding: 10px;
    } 
}
#zes {
    background-color:#60a0d8;
}
/*header*/
header{
    padding: 5px;
}
li{
    display: inline-block;
    height: 20px;
    width: 200px;
    padding: 10px;
    text-align: center;
    color: #075496;
    background-color: white;
    border-radius: 10px;
}
li:hover{
    border-style: ridge;
    color: white;
    background-color: #075496;
}
a:hover{
    color: white;
}
/*inhoud*/
h1{
    margin-left: 50px;
}
img{
    width: 200px;
    height: 200px;
    margin: 20px;
    clip-path: circle(50%);
}
p{
    margin: 50px;
    font-family: cursive;
    width: 700px;
    height: 50%;
}
/*footer*/
footer{
    color: white;
    font-size: 12px;
    text-align: right;
    padding: 5px;
}
/*contactformulier*/
input[type="text"], input[type="email"], textarea, select, button{
    display: block;
    text-align: middle;
    margin: 25px 50px;
    width: 300px;
    box-sizing: border-box;
}
    textarea{
    height: 100px;
    padding: 5px 4px;
}
button:active{
    background-color: #075496;
    color: white;
    border-radius: 4px;
}