/* opmaak algemeen*/

        [class*="col-"] {
            width: 100%;
        }
        @media screen and (min-width: 768px) {
        [class*="col-"] {
                float: left;
                padding: 15px;
                box-sizing: border-box;
            }}
        .col-1 {width: 8.33%;}
        .col-2 {width: 16.66%;}
        .col-3 {width: 25%;}
        .col-4 {width: 33.33%;}
        .col-5 {width: 41.66%;}
        .col-6 {width: 50%;}
        .col-7 {width: 58.33%;}
        .col-8 {width: 66.66%;}
        .col-9 {width: 75%;}
        .col-10 {width: 83.33%;}
        .col-11 {width: 91.66%;}
        .col-12 {width: 100%;}


        body {
        font-family: Verdana, sans-serif; 
        background-color: rgba(255, 0, 187, 0.462);
        font-size: 14px; 
        }

        header {
        background: url('../afbeeldingen/apeldoorn.jpg') center/cover no-repeat;
        font-family: "Hanalei fill", system-ui;
        font-weight: 400;
        font-style: italic;
        color: white;
        text-align: center;
        bottom: 5px;
        padding: 15px;
        }
        
        footer {
        clear: both;
        min-height: 50px;
        background-color: rgba(132, 255, 0, 0.462);
        padding: 10px;
        }

        .feitjes {
        background-color: rgb(231, 131, 25);
        margin-top: 40px;
        padding: 10px
        }

        .feitjes li {
            padding: 8px;
            margin-bottom: 10px;
            color: white;
        }

        #attractie {
        background-color: aqua;
        min-height: 600px; 
        padding: 10px   
        }


        #attractie img {
        width: 200px;
        float: right;
        margin-left: 10px;
        border-radius: 8px;
        }